<div class="container">
  <h1>Contacts</h1>
  <% @contact.each do |contact| %>
    <ul>
      <li><a href="/contacts/<%= contact.id %>"><%= contact.name %></a>
        <form action="/contacts/<%= contact.id %>" method="post">
          <input type="hidden" name="_method" value = "delete">
          <input type="submit" value="delete this asshole">
        </form></li>
<!--       <li><%= contact.email %></li> -->
    </ul>
    <hr>
  <% end %>
  <a href="/contacts/new">Create Contact</a>
</div>
